.text-primary {
	color: $primary;
}
.bg-primary {
	background-color: $primary;
}
.text-primary-active {
	color: $primaryActive;
}
.bg-primary-active {
	background-color: $primaryActive;
}
.text-secondary {
	color: $secondary;
}
.bg-secondary {
	background-color: $secondary;
}
.text-secondary-active {
	color: $secondaryActive;
}
.bg-secondary-active {
	background-color: $secondaryActive;
}

.text-success {
	color: $success;
}
.bg-success {
	background-color: $success;
}
.text-success-active {
	color: $successActive;
}
.bg-success-active {
	background-color: $successActive;
}
.text-warning {
	color: $warning;
}
.bg-warning {
	background-color: $warning;
}
.text-warning-active {
	color: $warningActive;
}
.bg-warning-active {
	background-color: $warningActive;
}
.text-danger {
	color: $danger;
}
.bg-danger {
	background-color: $danger;
}
.text-danger-active {
	color: $dangerActive;
}
.bg-danger-active {
	background-color: $dangerActive;
}
.text-info {
	color: $info;
}
.bg-info {
	background-color: $info;
}
.text-info-active {
	color: $infoActive;
}
.bg-info-active {
	background-color: $infoActive;
}
.text-indigo {
	color: $indigo;
}
.bg-indigo {
	background-color: $indigo;
}
.text-indigo-active {
	color: $indigoActive;
}
.bg-indigo-active {
	background-color: $indigoActive;
}
.text-purple {
	color: $purple;
}
.bg-purple {
	background-color: $purple;
}
.text-purple-active {
	color: $purpleActive;
}
.bg-purple-active {
	background-color: $purpleActive;
}
.text-pink {
	color: $pink;
}
.bg-pink {
	background-color: $pink;
}
.text-pink-active {
	color: $pinkActive;
}
.bg-pink-active {
	background-color: $pinkActive;
}
.text-teal {
	color: $teal;
}
.bg-teal {
	background-color: $teal;
}
.text-teal-active {
	color: $tealActive;
}
.bg-teal-active {
	background-color: $tealActive;
}
.text-dark {
	color: $dark;
}
.bg-dark {
	background-color: $dark;
}
.text-dark-active {
	color: $darkActive;
}
.bg-dark-active {
	background-color: $darkActive;
}
.text-orange {
	color: $orange;
}
.bg-orange {
	background-color: $orange;
}
.text-orange-active {
	color: $orangeActive;
}
.bg-orange-active {
	background-color: $orangeActive;
}

.main-text-primary {
	color: $mainPrimary;
}
.main-bg-primary {
	background-color: $mainPrimary;
}
.main-text-secondary {
	color: $mainSecondary;
}
.main-bg-secondary {
	background-color: $mainSecondary;
}
