.private-layout {
	> .ant-layout {
		> .ant-layout-header {
			// background-color: $headerBackground;
			background-image: url("../../../img/login_bg.png");
			background-repeat: no-repeat;
			background-size: 100%;
			width: 100%;
			height: 100px;
			padding: 0px 20px 0px 0px;
			display: flex;
			z-index: 1;
			gap: 8px;

			box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
			-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
			-moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);

			@include atsm {
				height: 70px;
				position: fixed;
				padding-right: 15px;
			}

			.header-left-menu {
				width: 100%;
				display: flex;
				align-items: center;

				.menu-left-icon {
					&:not(.menu-left-icon-menu-collapse-on-close) {
						a {
							width: 130px;
							height: 100%;
							display: flex;
							flex-direction: column;
							text-align: center;
							justify-content: center;
							gap: 8px;

							&:hover {
								background: $headerBackgroundSelectedMenu;

								.ant-typography {
									font-weight: 600;
									color: #ffffff;
								}
							}

							@include atmd {
								width: 110px;
							}
						}
					}

					&.menu-left-icon-menu-collapse-on-close {
						height: 100%;
						display: flex;
						align-items: center;
						padding: 0px 20px;

						svg {
							font-size: 28px;
							color: $headerLeftIconColor;
						}

						@include atsm {
							padding: 0px 15px;
						}
					}

					a {
						.anticon {
							color: $headerLeftIconColor;
						}

						svg {
							color: $headerLeftIconColor;
							font-size: 42px;
							stroke: $headerLeftIconColor;

							@include atmd {
								font-size: 32px;
							}

							path {
								color: $headerLeftIconColor;
								stroke: $headerLeftIconColor;
							}
						}

						.ant-typography {
							line-height: 1em;
							color: $headerTextColor;
						}
					}
				}

				> .ant-page-header {
					background-color: $pageHeaderBackground;
					// border-top: 1px solid $pageHeaderBorderColor;
					// border-bottom: 1px solid $pageHeaderBorderColor;
					padding: 10px 20px;

					@include atxs {
						padding: 10px;
					}

					.ant-page-header-heading {
						width: 100%;
						display: inherit;

						.ant-page-header-heading-left {
							width: 100%;
							display: inherit;

							.ant-page-header-heading-title {
								display: flex !important;
								gap: 10px;
								align-items: center;

								.ant-page-header-icon {
									border: 3px solid $pageHeaderIconBorderColor;
									border-radius: 100%;
									width: 70px !important;
									height: 70px !important;
									display: flex;
									justify-content: center;
									align-items: center;

									@include atxs {
										width: 55px !important;
										height: 55px !important;
										padding: 10px;
									}

									.anticon {
										font-size: 32px;
										color: $pageHeaderIconColor !important;
									}

									svg {
										font-size: 32px;

										@include atxs {
											font-size: 28px;
										}

										path {
											color: $pageHeaderIconColor;
										}
									}
								}

								.ant-page-header-text {
									display: flex;
									flex-direction: column;
									align-items: flex-start;

									.sub-title {
										color: $pageHeaderColorSubTitle;
										text-transform: none;
										font-size: 14px;
										font-weight: 500;
										line-height: 1em;

										@include atxs {
											font-size: 12px;
										}
									}
									.title {
										color: $pageHeaderColorTitle;
										font-size: 32px;
										font-weight: normal;

										@include atxs {
											font-size: 25px;
										}
									}
								}
							}
						}
					}
				}
			}
			.header-right-menu {
				display: flex;
				flex-direction: row-reverse;
				align-items: center;
				gap: 20px;

				@include atxs {
					gap: 15px;
				}

				.ant-image.menu-submenu-profile {
					transition: transform 0.2s;

					&:hover {
						transform: scale(1.1);
					}

					img {
						object-fit: cover;
						-o-object-fit: cover;
						width: 60px;
						height: 60px;
						border-radius: 50%;
						border: 2px solid #13f4f1;
						cursor: pointer;
						overflow: hidden;
						background: #fff;

						@include atmd {
							width: 55px;
							height: 55px;
						}
					}
				}

				.menu-submenu-notification {
					cursor: pointer;
					color: #abf0ef;
					width: 35px;
					height: 35px;
					justify-content: center;
					align-items: center;

					&:hover {
						transform: scale(1.1);
						svg {
							color: $headerIconColorActive;
						}
					}

					svg {
						color: $headerRightIconColor;
						font-size: 42px;

						@include atmd {
							font-size: 32px;
						}

						@include atsm {
							font-size: 28px;
						}
					}

					.ant-badge-count {
						right: 0px;
						top: 10px;
						width: 18px;
						height: 18px;
						font-size: 10px;
						border-radius: 50%;
						padding: 0px;
						display: flex;
						align-items: center;
						justify-content: center;

						@include atsm {
							right: 0px;
							min-width: 15px;
							width: 15px;
							height: 15px;
							font-size: 8px;
							line-height: 15px;
						}

						.ant-scroll-number-only {
							@include atsm {
								display: flex;
								align-items: center;
								justify-content: center;
							}
						}
					}
				}

				.menu-submenu-message-alert {
					cursor: pointer;
					margin-top: 2px;

					&:hover {
						svg {
							color: $headerIconColorActive;
						}
					}

					svg {
						color: $headerRightIconColor;
						font-size: 45px;

						@include atmd {
							font-size: 32px;
						}

						@include atsm {
							font-size: 30px;
						}
					}

					.ant-badge-count {
						right: -2px;
						top: 10px;
						width: 18px;
						height: 18px;
						font-size: 10px;
						border-radius: 50%;
						padding: 0px;
						display: flex;
						align-items: center;
						justify-content: center;

						@include atmd {
							top: 12px;
						}

						@include atsm {
							right: 0px;
							min-width: 15px;
							width: 15px;
							height: 15px;
							font-size: 8px;
							line-height: 15px;
						}

						.ant-scroll-number-only {
							@include atsm {
								display: flex;
								align-items: center;
								justify-content: center;
							}
						}
					}
				}
			}
		}
	}
}

.menu-submenu-profile-popup {
	width: 300px;
	top: 100px !important;

	@include atsm {
		position: fixed;
		top: 70px !important;
	}

	@include atxs332 {
		width: 100%;
		left: 0px !important;
	}

	.ant-dropdown-menu {
		padding: 0px 15px 15px 15px;
		border-radius: 0px;

		.ant-dropdown-menu-item {
			&.menu-item-profile-details {
				background-color: transparent;

				&:hover {
					background-color: transparent;
				}

				.menu-item-details-wrapper {
					display: flex;
					align-items: center;
					gap: 8px;
					height: 100px;
					padding-bottom: 10px;
					margin-bottom: 10px;
					border-bottom: 1px solid $headerDropdownBorderColor;

					.ant-image {
						transition: transform 0.2s;

						img {
							object-fit: cover;
							-o-object-fit: cover;
							width: 60px;
							height: 60px;
							border-radius: 50%;
							border: 2px solid #13f4f1;
							cursor: pointer;
							overflow: hidden;
							background: #fff;
						}
					}

					.info-wrapper {
						.ant-typography {
							white-space: break-spaces;
						}

						.info-username {
							color: $headerBackground;
							font-weight: 600;
							font-size: 17px;
						}
					}
				}
			}

			svg {
				color: $headerDropdownIconColor;
				stroke: $headerDropdownIconColor;
				path {
					color: $headerDropdownIconColor;
					stroke: $headerDropdownIconColor;
				}
			}

			&.ant-dropdown-menu-item-active {
				a {
					color: $headerDropdownTextColorActive;
				}
				svg {
					color: $headerDropdownIconColorActive;
					stroke: $headerDropdownIconColorActive;
					path {
						color: $headerDropdownIconColorActive;
						stroke: $headerDropdownIconColorActive;
					}
				}
			}

			.ant-dropdown-menu-title-content {
				a {
					text-decoration: none;
				}
			}
		}
	}
}

.menu-submenu-notification-popup {
	width: 300px;
	top: 100px !important;

	@include atsm {
		position: fixed;
		top: 70px !important;
	}

	@include atxs480 {
		width: 100%;
		left: 0px !important;
	}

	.ant-dropdown-menu {
		padding: 0px 15px 15px 15px;
		border-radius: 0px;

		.ant-dropdown-menu-item {
			&:first-child {
				color: #2b7273;
				font-size: 16px;
				font-weight: 600;
			}
			&:last-child {
				color: rgb(0, 60, 128);
			}

			.ant-dropdown-menu-title-content {
				a {
					text-decoration: none;
				}
			}
		}

		.ant-dropdown-menu-item-divider {
			height: 1px;
			margin: 4px 0;
			overflow: hidden;
			line-height: 0;
			background-color: rgb(54 50 50 / 19%);
		}
	}
}
